{% extends 'sec/base.html' %}
{% block content %}
	<p>Scan-Q is a brand new digital platform to maintain attendance records online easily.</p>
	<br>
	<p>Easy user management module. Just ask the teacher to upload his/her schedule, and our platform would do the rest. Ask the students present in the class to scan a QR code, and Bingo attendance is recorded. :)</p>
	<br>
	<p>Neat Enough ? Here's what makes Scan-Q even more unique. Teachers enter the count of students in the class. The count entered, only those number of students would be able to mark their attendance.</p>
	<br>
	<p><a href="{% url 'register' %}">Sign Up</a> or <a href="{% url 'login' %}">Login</a> into your account</p>
{% endblock %}